@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["BadRequestTitle"];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="alert alert-warning">
    <h4 class="alert-heading">@Localizer["BadRequestHeader"]</h4>
    <p>@Localizer["BadRequestMessage"]</p>
    <hr />
    <p class="mb-0">@Localizer["BadRequestSolution"]</p>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-lg fw-bold text-white rounded-pill px-5 py-3 shadow-lg">
        @Localizer["GoHome"]
    </a>
</div>