@using FitnessApp.Services.Data.Contracts
@using FitnessApp.Web.ViewModels.FitnessClass
@using static FitnessApp.Web.Extensions.ClaimsPrincipalExtensions;
@model IEnumerable<FitnessClassIndexServiceModel>
@inject IInstructorService instructorService

@{
    ViewData["Title"] = "Home Page";
    var fitnessClasses = Model.ToList();
}

<div class="mt-4 p-5 bg-light text-center">
    <h1 class="display-4">Welcome to the best fitness class booking portal</h1>
    <hr class="my-4">
</div>

@if (!fitnessClasses.Any())
{
    <div class="text-center mt-4">
        <h2>There aren't any fitness classes yet!</h2>
    </div>
}

<p class="lead text-center">

    @if (User?.Identity?.IsAuthenticated == true && await instructorService.ExistsByUserIdAsync(User.Id()) || User.IsAdmin())
    {
        <a asp-controller="FitnessClass" asp-action="Add" class="btn btn-success btn-lg rounded-pill shadow-lg" role="button">Add Fitness Class</a>
    }
</p>

@if (fitnessClasses.Any())
{
    <div class="table-responsive mt-4">
        <table class="table table-striped table-hover">
            <thead class="table-success">
                <tr>
                    <th>Title</th>
                    <th>Start Time</th>
                    <th>Instructor</th>
                    <th>Duration</th>
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var fitnessClass in Model)
                {
                    <tr>
                        <td>@fitnessClass.Title</td>
                        <td>@fitnessClass.StartTime.ToString()</td>
                        <td>@fitnessClass.InstructorName</td>
                        <td>@fitnessClass.Duration</td>
                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            <td>
                                <a asp-controller="FitnessClass" asp-action="Details" asp-route-fitnessClassId="@fitnessClass.Id" class="btn btn-outline-success rounded-pill px-3 py-2 me-2" role="button">Details</a>
                                @if (await instructorService.ExistsByUserIdAsync(User.Id()) == true)
                                {
                                    <a asp-controller="FitnessClass" asp-action="Edit" asp-route-fitnessClassId="@fitnessClass.Id" class="btn btn-warning rounded-pill px-3 py-2 me-2">Edit</a>
                                    <a asp-controller="FitnessClass" asp-action="Delete" asp-route-fitnessClassId="@fitnessClass.Id" class="btn btn-danger rounded-pill px-3 py-2">Delete</a>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
