@using Microsoft.AspNetCore.Mvc.Localization
@model AllFitnessClassQueryModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Title"];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<!-- Search Form -->
<form method="get">
    <div class="row">
        <!-- Category Filter -->
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Category">@Localizer["Category"]</label>
                <select asp-for="Category" class="form-control">
                    <option value="">@Localizer["All"]</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <!-- Status Filter -->
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Status">@Localizer["Status"]</label>
                <select asp-for="Status" class="form-control">
                    <option value="">@Localizer["All"]</option>
                    @foreach (var status in Model.Statuses)
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </div>
        </div>

        <!-- Search Term Input -->
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm">@Localizer["SearchTerm"]</label>
                <input asp-for="SearchTerm" class="form-control" placeholder="@Localizer["SearchPlaceholder"]" />
            </div>
        </div>

        <!-- Sorting Filter -->
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Sorting">@Localizer["Sorting"]</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="2">@Localizer["Duration"]</option>
                    <option value="3">@Localizer["StartTime"]</option>
                </select>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="col-md-12 mt-4 text-center">
            <button type="submit" class="btn btn-success btn-lg fw-bold text-white rounded-pill px-5 py-3 shadow-lg">@Localizer["Search"]</button>
        </div>
    </div>
</form>

<hr />

@{
    var previousPage = Model.CurrentPage - 1;
    previousPage = previousPage < 1 ? 1 : previousPage;

    var maxPage = Math.Ceiling((double)Model.TotalFitnessClassesCount / Model.FitnessClassesPerPage);
}

<!-- Pagination Controls -->
<div class="row mb-5">
    <!-- Previous Page Button -->
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success btn-lg fw-bold text-white rounded-pill px-5 py-3 shadow-lg @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="FitnessClass"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    <!-- Next Page Button -->
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-success btn-lg fw-bold text-white rounded-pill px-5 py-3 shadow-lg @(Model.CurrentPage == maxPage || !Model.FitnessClasses.Any() ? "disabled" : string.Empty)"
           asp-controller="FitnessClass"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.FitnessClasses.Any())
{
    <h2 class="text-center">No fitness classes found by the given criteria!</h2>
}

<!-- Display Fitness Classes -->
<div class="row">
    @foreach (var fitnessClass in Model.FitnessClasses)
    {
        <partial name="_FitnessClassPartial" model="@fitnessClass" />
    }
</div>
