@model FitnessClassServiceModel
@using FitnessApp.Services.Data.Contracts
@using FitnessApp.Web.Extensions
@inject IInstructorService instructorService
@inject IFitnessClassService fitnessClassService

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">Class Title</h5>
            <p>@Model.Title</p>

            <h5 class="card-title">Status</h5>
            <p>@Model.Status</p>

            <h5 class="card-title">Duration (Minutes)</h5>
            <p>@Model.Duration</p>

            <h5 class="card-title">Capacity</h5>
            <p>@Model.Capacity</p>

            <h5 class="card-title">Start Time</h5>
            <p>@Model.StartTime</p>

            <h5 class="card-title">Instructor</h5>
            <p>@Model.InstructorFullName</p>

            @if (User?.Identity?.IsAuthenticated == true)
            {
                <a asp-controller="FitnessClass" asp-action="Details" asp-route-fitnessClassId="@Model.Id" class="btn btn-primary" role="button">Details</a>        
                if (await fitnessClassService.HasInstructorWithIdAsync(Model.Id, User.Id())
                || User.IsAdmin())
                {
                    <a asp-area="" asp-controller="FitnessClass" asp-action="Edit" asp-route-fitnessClassId="@Model.Id"
                       class="btn btn-warning">Edit</a>
                    <a asp-area="" asp-controller="FitnessClass" asp-action="Delete" asp-route-fitnessClassId="@Model.Id"
                       class="btn btn-danger">Delete</a>
                    @if (Model.Status == "Active" || Model.Status == "Full")
                    {
                        <a asp-area="" asp-controller="FitnessClass" asp-action="CancelClass" asp-route-fitnessClassId="@Model.Id"
                           class="btn btn-danger">Cancel class</a>
                    }
                }
                if (await instructorService.ExistsByIdAsync(User.Id()) == false
                && User.IsAdmin() == false
                && await fitnessClassService.IsBookedByIUserWithIdAsync(Model.Id, User.Id()) == false
                && Model.Status == "Active"
                && Model.Status != "Full")
                {
                    <form class="input-group-sm" asp-controller="FitnessClass"
                          asp-area="" asp-action="Book" asp-route-fitnessClassId="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Book" />
                    </form>
                }
                else if (await fitnessClassService.IsBookedByIUserWithIdAsync(Model.Id, User.Id()) == true)
                {
                    <form asp-area="" asp-controller="FitnessClass" asp-action="UnBook"
                          asp-route-fitnessClassId="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Cancel Booking" />
                    </form>
                }
                if (Model.Status != "Canceled")
                {
                    <a asp-controller="FitnessClass" asp-action="Review" asp-route-fitnessClassId="@Model.Id" class="btn btn-primary" role="button">Write review</a>
                }
            }
        </div>
    </div>
</div>