@model FitnessClassServiceModel
@using FitnessApp.Services.Data.Contracts
@using FitnessApp.Web.Extensions
@inject IInstructorService instructorService
@inject IFitnessClassService fitnessClassService

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">Class Title</h5>
            <p>@Model.Title</p>

            <h5 class="card-title">Is Active</h5>
            <p>@(Model.IsActive ? "Yes" : "No")</p>

            <h5 class="card-title">Duration (Minutes)</h5>
            <p>@Model.Duration</p>

            <h5 class="card-title">Capacity</h5>
            <p>@Model.Capacity</p>

            <h5 class="card-title">Start Time</h5>
            <p>@Model.StartTime</p>

            <h5 class="card-title">Instructor</h5>
            <p>@Model.InstructorFirstName @Model.InstructorLastName</p>

            @if (this.User.Identity.IsAuthenticated)
            {
                if (await fitnessClassService.HasInstructorWithIdAsync(Model.Id, User.Id())
                || User.IsAdmin())
                {
                    <a asp-area="" asp-controller="FitnessClass" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Edit</a>
                    <a asp-area="" asp-controller="FitnessClass" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Delete</a>
                }

                <p></p>
                @if (await instructorService.ExistsByIdAsync(User.Id()) == false || User.IsAdmin() == false)
                {
                    <form class="input-group-sm" asp-controller="FitnessClass"
                          asp-area="" asp-action="Book" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Book" />
                    </form>
                }
                else if (await fitnessClassService.IsBookedByIUserWithIdAsync(Model.Id, User.Id()))
                {
                    <form asp-area="" asp-controller="FitnessClass" asp-action="UnBook"
                          asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="UnBook" />
                    </form>
                }
            }         
        </div>
    </div>
</div>